{%extends 'base.html' %}
{% block nav_left %}
  {%if logged_in %}
    <li><a href="/editor"> Create Blog</a></li>
  {%endif%}
{% endblock %}

{% block nav_right %}
    {%if logged_in %}
      <li><a href="/admin"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
    {%endif%}

    
{% endblock %}
{%block content%}
{%if logged_in%}
<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>{{ username }}</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Posts</a></li>
        <li><a href="/comment_modes">Comments</a></li>
        <li><a href="/themes">Themes</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul><br>
    </div>

    <div class="col-sm-9">
      {% for post in blogs %}
        <hr>
        <br>
        <h2>{{post.title}}</h2>
        <h5><span class="glyphicon glyphicon-time"></span>{{post.date}}</h5>
        <h4><small>-- {{post.user_name}}</small></h4>
        <p>{{post.content | safe }}</p>
        <button name="edit_blog" id="edit_blog" value="edit_blog" class="btn btn-primary">Edit Blog</button>
        <button name="delete_blog" id="delete_blog" value="delete_blog" class="btn btn-danger">Delete Blog</button>
        <button name="edit_blog" id="edit_blog" value="edit_blog" class="btn btn-primary">Show Comments</button>
        <br><br>
      {% endfor %}
    </div>
  </div>
</div>
{%else%}
<div class="container">
<div class="row content">
{% for post in blogs %}
<hr>
<h2>{{post.username}}</h2>
<h5><span class="glyphicon glyphicon-time"></span>{{post.date}}</h5>
<h5>{{post.username}}</h5>
<div>{{post.content | safe }}</div>
<br><br>

{% endfor %}
</div>
</div>
{%endif%}
{% endblock %}