{%extends 'base.html' %}
{%block content%}
    	<div class="box" style="text-align:center">
			  <h1>Register</h1>
			  <form action="/register" method="POST">
				<div class="form-group">
					<input type="text" name="username" id="username" placeholder="Username" required/>
				</div>
				<div class="form-group">
					<input type="password" name="password" id="password" placeholder="Password" required/>
				</div>
				<div class="form-group">
					<input type="text" name="age" id="age" placeholder="Age" required/>
				</div>
				<div class="form-group">
					<select name="gender" id="gender" >
						<option value="male">male</option>
						<option value="female">female</option>
					</select>
				</div>

				<button type="submit" class="btn btn-default">Submit</button>
			  </form> 
		</div>
				
{%endblock%}




<form action="/register" method="post">
	<input type="text" name="age" id="age" placeholder="Age" required/><br><br>
	<label style="margin-left: 80px;">Gender:</label>
	<select name="gender" id="gender" style="width:108px">
		  <option value="Male">Male</option>
		  <option value="Female">Female</option>
	</select><br><br>
	<label style="margin-left: 80px;">Interest:</label>
	<select name="interest" id="interest" style="width:108px">
		  <option value="Computers">Computers</option>
		  <option value="Fiction">Fiction</option>
		  <option value="Comics">Comics</option>
		  <option value="Sports">Sports</option>
	</select><br>
	<input type="submit" class="button" value="Register"/>
  </form>
