{%extends 'base.html' %}
{%block content%}

<div>
   <fieldset>
      <legend>User Details </legend>
      <table border = 1 cellspacing= 5 width=80% height=150px bgcolor="#ffff9f">
        <tr>
            <th>username</th>
	    <th>password</th>
            <th>age</th>
            <th>gender</th>
            <th>interest</th>  
         </tr>
         
         {% for row in rows %}  
            <tr> 
 	     {% for column in row %}  
               <td>{{column}}</td> 
	     {% endfor %}   
<!-- 
             <td> {{row["username"]}} </td>
             <td> {{row["password"]}} </td>
	     <td> {{row["age"]}} </td>
             <td> {{row["gender"]}} </td>
             <td> {{row["interest"]}} </td>
             
-->	     
            </tr>
         {% endfor %}
      </table> 
   <fieldset>
</div>

	<br><a href = "/">Go back to home page</a>
	
{% endblock %}
